.about img {
  width: 200px;
  height: 200px;
  float: left;
  border-radius: 50%;
  margin: 20px 50px;
}

h2 {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}

.about p {
  font-size: 15.5px;
  margin: 20px;
  color: #777;
}
