footer {
  background-color: cyan;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #56ccf2;
  margin-top: 40px;
}

footer ul {
  list-style-type: none;
  display: flex;
}
footer ul li {
  margin: 0px 15px;
}
footer .footer-title {
  text-align: center;
  color: white;
  width: 50%;
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto;
}

.footer-title {
  margin-left: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icons {
  display: flex;
  margin-right: 10rem;
  justify-content: center;
  align-items: center;
}
